:root {
	--fuenteMonserrat: 'Montserrat', sans-serif;
	--fuentePtSerif: 'PT Serif', sans-serif;
	--fuentePoppins: 'Poppins', sans-serif;

	--black: #000000;
	--grisClaro: #a9a9a9;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
h2,
p {
	margin: 0;
}

img {
	width: 100%;
}

.header {
	margin: 7.1rem 0 0 1.2rem;
}

@media (min-width: 768px) {
	.header {
		margin: 11rem 0 0 6.2rem;
		display: flex;
		justify-content: space-between;
	}
}

@media (min-width: 992px) {
	.header {
		margin-left: 24.3rem;
		justify-content: flex-start;
	}
}

.header__title {
	font-family: var(--fuentePtSerif);
	font-size: 3.6rem;
}

@media (min-width: 992px) {
	.header__title {
		margin-right: 21.5rem;
	}
}

.about-us {
	margin-top: 3.8rem;
	margin-left: 1.2rem;
}

@media (min-width: 768px) {
	.about-us {
		margin: 0 0;
	}
}

.about-us__tittle {
	font-family: var(--fuentePoppins);
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.6;
	text-transform: uppercase;
}

.about-us__description {
	font-family: var(--fuentePoppins);
	font-size: 1.4rem;
	font-weight: 400;
	height: 8.7rem;
	line-height: 1.5;
	width: 33.3rem;
}

@media (min-width: 992px) {
	.about-us__description {
		font-size: 1.8rem;
		width: 43.9rem;
		margin-top: 1rem;
	}
}

.team-container {
	margin-left: 1.9rem;
	margin-top: 3.8rem;
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 768px) {
	.team-container {
		margin-left: 6.2rem;
	}
}

@media (min-width: 992px) {
	.team-container {
		margin-left: 24rem;
		margin-top: 9.6rem;
	}
}

.team-item {
	width: 15.6rem;
	position: relative;
	margin-bottom: 6.4rem;
	height: 23.7rem;
}

.team-item:nth-child(2n) {
	margin-left: 4.2rem;
	margin-top: 5rem;
	margin-bottom: 1.6rem;
}

.team-item:nth-child(odd) {
	margin-bottom: 6.4rem;
}

@media (min-width: 768px) {
	.team-item {
		width: 26.4rem;
		height: 38.3rem;
	}

	.team-item:nth-child(2n) {
		margin-left: 9rem;
		margin-top: 5rem;
		margin-bottom: 1.6rem;
	}
}

@media (min-width: 992px) {
	.team-item:nth-child(1n) {
		margin-right: 9rem;
		margin-left: 0;
	}

	.team-item:nth-child(2n - 1) {
		margin-bottom: 13.2rem;
	}

	/* 
	* La primer posicion sera 2, porque es 3 - 1
	* A partir del elemento 2 le sumara 3
	*/
	.team-item:nth-child(3n - 1) {
		margin-top: 10rem;
		margin-bottom: 0;
	}

	.team-item:nth-child(2n + 4) {
		margin-top: 0;
	}

}

.team-item__flex {
	display: flex;
}

.team-item__image {
	width: 13.878rem;
}

@media (min-width: 768px) {
	.team-item__image {
		width: 23.8rem;
	}
}

.team-item__role {
	font-family: var(--fuentePtSerif);
	font-size: 1rem;
	text-transform: uppercase;
	transform: rotate(90deg);
	position: absolute;
	top: 4.5rem;
	right: -4.5rem;
	height: 1.1rem;
	width: 10rem;
}

@media (min-width: 768px) {
	font-size: 1.2rem;
}

.team-item__name {
	font-family: var(--fuentePoppins);
	font-size: 1.4rem;
	font-weight: 600;
	height: 1.8rem;
	line-height: 1.6;
	margin-top: 1rem;
}

@media (min-width: 768px) {
	.team-item__name {
		font-size: 1.8rem;
	}
}

.footer {
	color: var(--grisClaro);
	font-family: var(--fuenteMonserrat);
	font-size: 1.4rem;
	font-weight: 500;
	height: 1.7rem;
	line-height: 1.6;
	text-align: center;
	margin-top: 13rem;
}

.footer p {
	padding-bottom: 2.4rem;
}

.bold {
	font-weight: 700;
}
